body.area{
    background-color: darkgrey;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
div.celular{
    height: 550px;
    width: 280px;
    margin: 70px auto;
    border-radius: 40px;
    border: #000 solid 10px;
    background-color: #f9f9f9;
}
div.camera{
    width: 170px;
    height: 20px;
    margin: 0 auto;

    background-color: #000;
    border-radius: 0 0 20px 20px;
    margin-bottom: 20px;
}
div.tela{
    height: 100px;
    width: 250px;
    border-radius: 30px 30px 0 0;
    padding-right: 10px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

form.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
input.visor{
    width: 200px;
    font-size: 30px;
    text-align: right;
    border: none;
    background-color: #f9f9f9;
}
input.visor:focus{
    outline: none;
}
input.visor-expressao{
    width: 200px;
    font-size: 20px;
    text-align: right;
    border: none;
    background-color: #f9f9f9;
}
input.visor-expressao:focus{
    outline: none;
}



div.botoes{
    width: 250px;
    margin: 30px auto 0 auto;
    padding-top: 20px;
}
div.linha1,.linha2,.linha3,.linha4,.linha5{
    display: flex;
    justify-content: space-around;

    margin-bottom: 20px;
}
input.botao{
    border: none;
    background-color: purple;
    color: #fff;
    font-size: 15px;
    opacity: 0.9;
    width: 52px;
    height: 52px;
    border-radius: 4px;
}


input.zero{
    width: 113px;
}